    .svgdiv {
        transform: rotate(-90deg);
    }button.generateBtn, button.getlinkbtn {
        border: none;
        color: white;
        padding: 10px;
        border-radius: 7px;
        font-size: 15px;
        font-weight: bold;
    }
    button.generateBtn:hover, button.getlinkbtn:hover {
        background: lightseagreen;
        font-size: 16px;
        padding: 11px;
        transition: .5s;
    }
    button.getlinkbtn {
        background: green;
    }
    button.generateBtn{
        background: blue;
    }
    text {
        /* fill: #fafafa; */
        font-family: Roboto;
        font-size: 11px;
        font-weight: 700;
        text-anchor: middle;
        text-shadow: 0 0 5px #0000007a;
    }
    .download-icon, .getlinkbtn {
        display:none ;
    }
    .timerbtn{
        margin: auto;
        text-align: center;
    }
    .download-icon svg{
        margin: auto; 
        background: none; 
        display: block; 
        shape-rendering: auto; 
        animation-play-state: running; 
        animation-delay: 0s;
        width:150px;
        height:150px;
    }
    .download-icon svg g{
        animation-play-state: running;
        animation-delay: 0s;
    }
    .download-icon svg g rect{
        animation-play-state: running;
        animation-delay: 0s;
      	width:4px;
      	height:11px; 
      	fill:#0a0a0a;
       	x:48;
      	y:24.5;
      	rx:1.87;
      	ry:1.87;
    }
    .download-icon svg g rect animate{
        animation-play-state: running;
        animation-delay: 0s;
    }
    /*   button */
    .progress {
        display: flex;
        height: 1rem;
        overflow: hidden;
        font-size: .75rem;
        background-color: #e9ecef;
        border-radius: 0.25rem;
    }
    .jt-bg-primary {
        background-color: var(--jt-primary);
    }
    .progress-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        background-color: #0d6efd;
        transition: width .6s ease;
      	width:0%;
    }
